ServerSide/.idea/*

ServerSide/*.iml
ServerSide/databaseserver/*.iml
ServerSide/gameserver/*.iml
ServerSide/protocol/*.iml
ServerSide/resourceserver/*.iml

ServerSide/databaseserver/target/*
ServerSide/gameserver/target/*
ServerSide/protocol/target/*
ServerSide/resourceserver/target/*

ClientSide/Build/*
ClientSide/Bin/*
ClientSide/Libs/*

WebSite/.idea/*
WebSite/client/.idea/*
WebSite/server/.idea/*
WebSite/ts-server/.idea/*

WebSite/client/build/*
WebSite/ts-server/build/*

WebSite/client/node_modules/*
WebSite/server/node_modules/*
WebSite/ts-server/node_modules/*