ServerSide/.idea/*
ServerSide/*.iml
ServerSide/databaseserver/*.iml
ServerSide/gameserver/*.iml
ServerSide/protocol/*.iml
ServerSide/resourceserver/*.iml

ClientSide/Build/*
ClientSide/Bin/*
ClientSide/Libs/*

WebSite/.idea/*
WebSite/client/.idea/*
WebSite/server/.idea/*
WebSite/client/node_modules/*
WebSite/server/node_modules/*