ServerSide/.idea/*

ServerSide/*.iml
ServerSide/databaseserver/*.iml
ServerSide/gameserver/*.iml
ServerSide/protocol/*.iml
ServerSide/resourceserver/*.iml
ServerSide/databaseserver/src/main/resources/serverSide.properties
ServerSide/gameserver/src/main/resources/serverSide.properties
ServerSide/resourceserver/src/main/resources/serverSide.properties

ServerSide/databaseserver/target/*
ServerSide/gameserver/target/*
ServerSide/protocol/target/*
ServerSide/resourceserver/target/*

ClientSide/Build/*
ClientSide/Bin/*
ClientSide/Libs/*

WebSite/.idea/*
WebSite/client/.idea/*
WebSite/server/.idea/*

WebSite/client/build/*
WebSite/server/build/*

WebSite/node_modules/*
WebSite/client/node_modules/*
WebSite/server/node_modules/*